
<ul>
  <li><a href="/static_pages/index">Home</a></li>
  <li><a href="/static_pages/contact">Contact</a></li>
  <li><a href="/static_pages/about">About</a></li>
</ul>

<h1>Home</h1>
<p>Welcome to my website</p>
